body {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background: black;
	color: white;
	font-family: "Comfortaa";
}

h2.blackbg {
	background-color: black !important;
}

h3.subtitle {
	font-size: 13px;
	margin-bottom: 15px;
}

.header {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-family: "Press Start 2P";
}

.nes-container {
	margin-bottom: 20px;
}

.home-title:hover,
.heart:hover {
	-webkit-animation: neon1 1.5s ease-in-out infinite alternate;
	-moz-animation: neon1 1.5s ease-in-out infinite alternate;
	animation: neon1 1.5s ease-in-out infinite alternate;
}

h2:hover,
h1:hover {
	-webkit-animation: neon2 1.5s ease-in-out infinite alternate;
	-moz-animation: neon2 1.5s ease-in-out infinite alternate;
	animation: neon2 1.5s ease-in-out infinite alternate;
}


footer {
	margin-top: 40px;
	font-size: small;
	flex:1;
	width: 100vw;
	text-align: center;
}


@-webkit-keyframes neon1 {
	from {
		text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #ff00de, 0 0 70px #ff00de, 0 0 80px #ff00de, 0 0 100px #ff00de, 0 0 150px #ff00de;
	}

	to {
		text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #ff00de, 0 0 35px #ff00de, 0 0 40px #ff00de, 0 0 50px #ff00de, 0 0 75px #ff00de;
	}
}

@-webkit-keyframes neon2 {
	from {
		text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #00ff00, 0 0 70px #00ff00, 0 0 80px #00ff00, 0 0 100px #00ff00, 0 0 150px #00ff00;
	}

	to {
		text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #00ff00, 0 0 35px #00ff00, 0 0 40px #00ff00, 0 0 50px #00ff00, 0 0 75px #00ff00;
	}
}

p.post-body{
	font-size: 16px;
	font-family: "Comfortaa";
}

p.post-body pre {
	background-color: rgb(54, 53, 52);
	margin-top: 20px;
	margin-bottom: 20px;
}
p.post-body pre code {
	font-family: "Source Code Pro";
}

p.post-body blockquote {
	background-color: rgb(31, 30, 30);
	padding-left: 15px;
	border-left: solid 5px rgb(54, 53, 52);
}