body {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background: #0e2439;
	color: #a2b8cd;
	font-family: "Comfortaa";
	font-size: 21px;
}

h2.title {
	font-size: 42px;
}

h2.blackbg {
	background-color: black !important;
}

h3.subtitle {
	font-size: 16px;
	margin-bottom: 15px;
}

.header {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-family: "Comfortaa";
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	font-size: 30px;
}

.header h1 {
	color: white;
	margin-bottom: 0;
	cursor: pointer;
}

.header h1:hover {
	text-shadow: black 10px 10px;
}

strong {
	font-weight:bold;
	color: white;
}

main {
	min-width: 100%;
	min-height: 65vh;
	display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


footer {
	margin-top: 40px;
	font-size: small;
	flex:1;
	width: 100vw;
	text-align: center;
}

div.no-result {
    margin-top: 100px;
	font-size: bigger;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

section.container {
	margin-top: 40px;
	width: 98%;
	padding: 20px;
	/* Media Query to make padding bigger for desktop */
	padding-left: 30px;
	padding-right: 30px;
	border: solid 3px #1f364d;
	border-radius: 4px;

}

p.post-body{
	line-height: 1.5em;
	font-family: "Comfortaa";
	border-top: solid 1px  #a2b8cd;
	text-align: justify;
	text-justify: inter-word;  
}

p.post-body h1,h2,h3 {
	text-align: left;
}

p.post-body img {
	max-width: 100%;
}

p.post-body code {
	font-family: "Source Code Pro";
	background-color: #0a1c2c;
	color: white;
	padding-left: 5px;
	padding-right: 5px;
	font-size: 23px;
	text-align: left;
}
p.post-body pre {
	background-color: #0a1c2c;
	margin-top: 20px;
	margin-bottom: 20px;
	padding: 20px;
	line-height: normal;
	text-align: left;
}

p.post-body blockquote {
	background-color: #0a1c2c;
	padding: 15px;
	border-left: solid 5px rgb(54, 53, 52);
	text-align: left;
}

a {
	color: #e052a0;
}

a:visited {
	color: #f15c41;
}

a:hover {
	color: #ee7661;
}